<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.name %></h1>
    <p>Welcome to <%= user.birthdate %></p>
  </body>
</html>